body{
	  margin: 0;
	  padding: 0;
	  background: skyblue;
}
.login-form{
	width:300px;
	height:auto;
	position:absolute;  
	background-color:white;
	left:15%;
	top:35% ;
	transform: translateX(-50%)translateY(-50%);
	border-bottom:5px solid gray;
	border-radius:4px;
}
.login-face{ 
	width:100px;
	height:100; 
	position:relative;
	background:purple;
	border-radius:100%;
	margin: 0 auto;
	margin-top:30px;
	
}
.login-face>img{
	width:100px;
	height:100px;
	border-radius:4px;
	overflow:hidden;	
}


 .form{
	 width:100px;
	 position:relative;
	 margin:25px auto;
	 
	 	 
 }
 
	 
	 
	 
	 
	 
 

	 
	
	
 
 
 
 
 