 #container1 {
	width:28%;
	height:70%;
	position:none;
	top:21%;
	left:1%;
	border:1px solid gray;
	background-color:skyblue;
	margin:0 auto;
 }
  #container {
	width:70%;
	height:650px;
	position:absolute;
	top:2%;
	left:29%;
	border:1px solid gray;
	background-color:pink;
	margin:0 auto;
 }
 