.header {
    text-align:center;
    width: 100%;
    height: 90px;
}
.nav {
    float:left;
    width:20%;
    height: 750px;
    background:grey;
}
.main {
    float:left;
    width:60%;
    height: 750px;
    background:lightblue;
}
.rightsidebar {
    float:right;
    width:20%;
    height: 750px;
    background:lightgreen;
}